@import '../../utils/config/mixins.scss';

.blog-heading {
    font-size: 24px;
    color: #222;
    border-bottom: 1px solid #777;
  }
  
  .blogs-img {
    height: 200px;
    @include border-radius(5px);
    overflow: hidden;
    position: relative;
    top: 0;
    @include box-shadow(0, 2px, 3px, 1px, rgba(0, 0, 0, 0));
    @include transition(all 0.5s);
  }
  
  .blogs-img > img {
    height: 260px;
    min-width: 100%;
  }
  
  .hover-blogs-img:hover > .blogs-img {
    top: -7px;
    @include box-shadow(0, 2px, 3px, 1px, rgba(0, 0, 0, 0.3));
  }
  
  .title {
    font-size: 17px;
    color: #222 !important;
    font-weight: 800;
    font-family: "Poppins";
    text-decoration: none;
    display: block;
  }
  
  .category {
    display: inline-block;
    position: relative;
    background-color: #4287f5;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    text-transform: none;
    line-height: 16px;
    font-weight: 700;
    border-radius: 4px;
  }
  
  .fa-trash {
    color: #c43421 !important;
  }
  
  .fa-edit {
    color: lightsalmon !important;
  }
  
  .meta-info {
    font-size: 15px;
    color: #222;
    display: block;
    font-family: "Poppins";
    text-decoration: none;
  }
  
  .blog-single-content .meta-info {
    margin-top: 8px;
    border-bottom: 1px solid #777;
    margin-bottom: 15px;
  }
  
  .author {
    display: inline-block;
    font-weight: 600;
    font-size: 15px !important;
  }
  
  .short-description {
    font-size: 14px;
    color: #777;
  }
  
  .btn-read {
    background: #544e66 !important;
    @include border-radius(0!important);
    color: #fff !important;
    padding: 5px 10px !important;
    float: left;
    margin-top: 10px;
    font-size: 14px;
  }