@import '../../utils/config/mixins.scss';

.navbar-light .navbar-nav .open > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.open,
.navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
  padding-top: 12px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 20px !important;
  @include transition(0.5s);
  background: #489fb5 !important;
  @include clip-path(polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0));
}
.navbar-light .navbar-nav .nav-link {
  color: #222 !important;
  padding-top: 12px !important;
  padding-bottom: 15px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin: 0 20px !important;
  @include transition(0.5s);
  position: relative !important;
  @include clip-path(polygon(100% 0, 100% 85%, 14% 85%, 0 100%, 0% 60%, 0 0));

  &:focus,
  &:hover {
    background: #489fb5 !important;
    color: #fff !important;
    padding-top: 12px !important;
    padding-bottom: 15px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 0 20px;
    position: relative;
  }
}

.bg-faded {
  background-color: #f7f7f7;
}

.mobile_logo_width {
  display: none;
}

.navbar-nav {
  flex-direction: row !important;
  cursor: pointer;
}



// media queries

@media(min-width:320px) and (max-width:480px) {
  .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
  }
  .navbar-light .navbar-nav .nav-link {
      -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
      clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
  }
  .navbar-nav {
      flex-direction: column !important;  
     }
}


@media(min-width:480px) and (max-width:767px) {
     .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
  }
  .navbar-light .navbar-nav .nav-link {
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
  }
  
  .navbar-nav {
      flex-direction: column !important;
      margin-top: 15px;  
     }
  
  }


  @media(min-width:768px) and (max-width:1024px) {
    .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.active {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
    }
    .navbar-light .navbar-nav .nav-link {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%)!important;
    }
    
    .navbar-nav {
        flex-direction: column !important;
        margin-top: 15px;  
       }
 }
